<ion-toolbar>
	<ion-buttons slot="start">
		<ion-button class="logo" size="large" shape="round" [routerLink]="'/home'">
			<ion-icon slot="icon-only" [src]="'/assets/icon/favicon.svg'"></ion-icon>
		</ion-button>
	</ion-buttons>

	<ion-buttons slot="end"
		><app-profile-button
			[user$]="user$"
			[imageUrl$]="imageUrl$"
			[triggerId]="profileTriggerId"
		></app-profile-button
	></ion-buttons>

	<ion-title slot="start" size="large">
		<h1>{{ titleKey | translate }}</h1>
	</ion-title>
</ion-toolbar>
