@use '../../../../vars' as vars;

:host {
	display: flex;
	will-change: transform;
	align-items: center;
	justify-content: center;
	z-index: 1;
	contain: content;
	text-align: center;
	padding: vars.$footer-padding;
	background: vars.$footer-background;
	opacity: vars.$footer-opacity;
}
