<app-feed-card
	*ngFor="
		let recommendation of activeCards$ | async | reverseList;
		let i = index;
		let len = count;
		trackBy: trackById
	"
	class="no-select"
	[recommendation]="recommendation"
	[transitionDurationMs]="transitionDurationMs"
	[audioProgress$]="audioService.progress$"
	[isFirst]="i === len - 1"
	[isSecond]="i === len - 2"
	[maxTitleCharLen]="maxTitleCharLen"
	[overlayFadeStrengthPercentage]="overlayFadeStrengthPercentage"
	[ngStyle]="len - i - 1 | cardOffset"
></app-feed-card>

<div *ngIf="(hasInteracted$ | async) === false" class="requires-interaction title">
	{{ 'ACTIONS.CLICK_TO_BEGIN' | translate }}
</div>
