<ion-card class="card-wrapper">
	<ng-container
		[ngTemplateOutlet]="recommendation ? hasRecommendation : recommendationError"
		[ngTemplateOutletContext]="{
			track: recommendation?.track,
			artist: recommendation?.primaryArtist,
			features: recommendation?.features
		}"
	></ng-container>
</ion-card>

<ng-template #hasRecommendation let-track="track" let-artist="artist" let-features="features">
	<div class="track-image" [ngStyle]="track | trackImage | backgroundUrlCss">
		<div
			class="overlay-colour-fade"
			[ngStyle]="
				track
					| trackImage
					| imageColourUrl
					| async
					| backgroundFadeCss: overlayFadeStrengthPercentage
			"
		></div>
		<div class="overlay-shadow"></div>
	</div>

	<div [ngClass]="{ 'is-first': isFirst }" class="content-wrapper">
		<ng-container *ngTemplateOutlet="header"></ng-container>
		<ng-container *ngTemplateOutlet="categorisation"></ng-container>
		<ion-progress-bar [value]="(isFirst && (audioProgress$ | async)) || 0"></ion-progress-bar>
	</div>

	<ng-template #header>
		<ion-card-header>
			<img
				[src]="'/assets/spotify-logo.png'"
				[alt]="'ALT_TEXT.SPOTIFY_LOGO' | translate"
				class="spotify-logo-image"
				fetchpriority="low"
				draggable="false"
			/>
			<ion-card-subtitle class="subtitle hyphenate">
				<img
					[src]="artist | artistImage"
					[ngClass]="{ 'is-first': isFirst }"
					[alt]="'ALT_TEXT.ARTIST_IMAGE' | translate"
					class="artist-image"
					fetchpriority="low"
					draggable="false"
				/>
				<h2>
					{{ track.artists | artistNames | commaJoin }}
					<span *ngIf="track | trackLink as link"
						>&nbsp;<a [href]="link" target="#" draggable="false"
							><mat-icon>open_in_new</mat-icon></a
						></span
					>
				</h2>
			</ion-card-subtitle>
			<ion-card-title class="title hyphenate">
				<h3>
					{{ track.name | truncateString: maxTitleCharLen }}
					<span *ngIf="track.explicit"><mat-icon>explicit</mat-icon></span>
				</h3>
			</ion-card-title>
		</ion-card-header>
	</ng-template>

	<ng-template #categorisation>
		<ion-card-content class="categories">
			<div *ngIf="track.popularity | popularityCategory as key" class="category">
				{{ key | translate }}
			</div>
			<div *ngIf="features.danceability | danceabilityCategory as key" class="category">
				{{ key | translate }}
			</div>
			<div *ngIf="features.energy | energyCategory as key" class="category">
				{{ key | translate }}
			</div>
			<div *ngIf="features.loudness | loudnessCategory as key" class="category">
				{{ key | translate }}
			</div>
			<div *ngIf="features.acousticness | acousticnessCategory as key" class="category">
				{{ key | translate }}
			</div>
		</ion-card-content>
	</ng-template>
</ng-template>

<ng-template #recommendationError
	><ion-card-header>
		<ion-card-title>Sorry, something went wrong...</ion-card-title>
	</ion-card-header></ng-template
>
